---
title: Coding Guidelines
subtitle: Fintek 
author: Bakan
layout: guidline
lfoot: Fintek
cfoot: Coding Conventions
rfoot:\thepage
---

<!-- I tried looping over a list of the file names, but for reasons I don't understand that caused it to render differently -->


{% capture my_include %}{% include Src/Guidelines/0001_Naming.md %}{% endcapture %}
{{ my_include | markdownify }}
{% capture my_include %}{% include Src/Guidelines/0002_Formatting.md %}{% endcapture %}
{{ my_include | markdownify }}
{% capture my_include %}{% include Src/Guidelines/0002_Design.md %}{% endcapture %}
{{ my_include | markdownify }}
{% capture my_include %}{% include Src/Guidelines/0098_Rules.md %}{% endcapture %}
{{ my_include | markdownify }}
{% capture my_include %}{% include Src/Guidelines/0099_Terminology.md %}{% endcapture %}
{{ my_include | markdownify }}
{% capture my_include %}{% include Src/Guidelines/0100_References.md %}{% endcapture %}
{{ my_include | markdownify }}